!!!
%html
  %head
    %title= "let's humb.ly do good every single day !"
    %link{:rel => "icon", :href => "http://humbly.heroku.com/images/favicon.png", :type => "image/png"}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, 'jquery.min', 'jquery.easing.min', 'jquery.class', 'typewriter.min', 'rails'
    = csrf_meta_tag
  %body
    %div#main
      %div#content
        %span.mantra_sky#mantra_sky_a= "let's"
        %img#humbly-text{:src => "/images/text-logo.png", :width => 441, :height => 101, :alt => "humblybee"}
        %span#mantra_sky_b.mantra_sky
          ="do good"
          %i= "every"
          = "single day !"
        %span#coming_soon= "coming soon..."
      = yield
      %div#bumblebees
        %img.bumblebee{:src => "/images/bumblebee_left.png"}
        %img.bumblebee{:src => "/images/bumblebee_right.png"}
        %img.bumblebee{:src => "/images/bumblebee_left.png"}
      %div#footer
        %p#disclaimer.typewriter{:"data-cycling" => "false"}
          %span.typewrite{:"data-timeout-letter" => "15"}= "improving our society"
          %span.typewrite{:"data-prefill" => "true", :"data-timeout-wait" => "300", :"data-prepause" => "300", :"data-timeout-letter" => "5"}= "in progress..."
          %br/
          %a{:href => "http://de.linkedin.com/in/dmrschmidt"}= "Dennis Schmidt"
        %p#hint= "why not try to catch a bumblebee?"